---
import Menu from '../components/menu.astro';
import Footer from '../components/footer.astro';
import SvelteCounter from '../components/SvelteCounter.svelte';
let title = 'Tutors Open Source Project | Design';
---
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <link rel="stylesheet" href="/style/global.css">
  <style global>
    @import '../styles/tailwind.css';
  </style>
    <link rel="preconnect"
        href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</head>

<body>
    <div class="tutors-container">
        <Menu />
        <div class="unitcard-container bg-base-200 rounded-box">
            <div class="card-body">
                <h2 class="card-title">Tutors Design System</h2>
                <div class="flex flex-wrap justify-center">
                    <div class="tutorscard w-60 border-info">
                        <a href="/branding">
                            <div class="tutorscard-header">
                                <h3 class="card-title text-md font-normal">Tutors Branding</h3>
                            </div>
                            <figure class="flex justify-center">
                                <span class="iconify" data-icon="feather:pen-tool" data-height="180"></span>
                            </figure>
                            <div class="card-body">
                                <div class="text-sm">The branding and style guide for the Tutors Open Source Project.</div>
                            </div>
                        </a>
                    </div>
                    <div class="tutorscard w-60 border-success">
                        <a href="/components">
                            <div class="tutorscard-header">
                                <h3 class="card-title text-md font-normal">Tutors Components</h3>
                            </div>
                            <figure class="flex justify-center">
                                <span class="iconify" data-icon="tabler:drag-drop" data-height="180"></span>
                            </figure>
                            <div class="card-body">
                                <div class="text-sm">The selection of components used to build Tutors with snippets on
                                    how to use them.</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <Footer />
    </div>
</body>

</html>