---
import Menu from '../components/menu.astro';
import Footer from '../components/footer.astro';
import SvelteCounter from '../components/SvelteCounter.svelte';
let title = 'Tutors Open Source Project';
---
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>
  <link rel="stylesheet" href="/style/global.css">
  <link rel="stylesheet" href={Astro.resolve("../styles/tailwind.css")}> <link rel="preconnect"
    href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</head>

<body>
  <div class="tutors-container">
    <Menu />
    <div class="card lg:card-side bg-base-200 mb-2">
      <figure>
        <img src="https://source.unsplash.com/YRMWVcdyhmI/540x280">
      </figure>
      <div class="card-body">
        <h2 class="card-title">Welcome to the website of the Tutors Open Source Project</h2>
        <p>The Tutors Open Source Project is a collection of software packages developed to create and deliver online
          courses, through lectures, labs, videos & course materials. It is currently used to run over 160 courses.</p>
        <div class="card-actions">
          <a href="https://tutors-project-site.netlify.app" target="_blank"><button class="btn btn-primary">View
              Documentation</button></a>
          <a href="https://github.com/tutors-sdk" target="_blank"><button class="btn btn-ghost">View On GitHub</button></a>
        </div>
      </div>
    </div>
    <div class="unitcard-container">
      <div class="card-body">
        <h2 class="card-title">Contributors</h2>
        <div class="flex flex-wrap justify-center">
          <a href="https://github.com/edeleastar" target="_blank">
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src="https://avatars.githubusercontent.com/u/557508?s=70&v=4"></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Eamonn De Leastar</h2>
              </div>
            </div>
          </a>
          <a href="https://github.com/cdunphy" target="_blank">
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src="https://avatars.githubusercontent.com/u/26001100?s=70&v=4"></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Colm Dunphy</h2>
              </div>
            </div>
          </a>
          <a href="https://github.com/jordharr" target="_blank">
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src="https://avatars.githubusercontent.com/u/76656637?s=70&v=4"></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Jordan Harrison</h2>
              </div>
            </div>
          </a>
          <a href="https://github.com/ekidneyrh" target="_blank">
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src="https://avatars.githubusercontent.com/u/87311656?s=70&v=4"></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Emma Kidney</h2>
              </div>
            </div>
          </a>
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src=""></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Ellen O'Carrol</h2>
              </div>
            </div>
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src="https://ca.slack-edge.com/TEL752280-UEN0YN2NT-a2e16b2824c2-192"></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Pete Windle</h2>
              </div>
            </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</body>

</html>
